* {box-sizing: border-box}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

a, a:link, a:visited, a:hover, a:active {
  text-transform: none;
  text-decoration: none;
  color: #000;
}

#main {
  position: relative;
  display: block;
  width: 800px;
  height: 600px;
  border: 1px solid #777;
}

a.tab-link {
  display: block;
  position: relative;
  top: -2em;
  width: 33.33%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
}

.tab-link:hover {
  cursor: pointer;
  background-color: #ccc;
}

.tab {
  display:block;
  position: absolute;
  width: 100%;
  top: 2em;
  bottom: 1.5em;
}

.tab-body {
  margin-top: -2em;
  padding: 20px;
  line-height: 1em;
}

.tab:target, .tab:target .tab-link {
  z-index: 100;
  background-color: #e0e0e0;
}

#main .tab:nth-child(2) .tab-link {left: 33.33%;}
#main .tab:nth-child(3) .tab-link {left: 66.66%;}


#main > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 0.8em;
}

#main > footer a {font-weight: bold;}

/* -------------------------------------------------------------------------- */
a.btn {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.5em;
    padding: .5em 1em;
    border-radius: 2px;
    text-transform: uppercase;
}

a.btn.blu {
    background-color: #0078e7;
    color: #fff;
}




/* -------------------------------------------------------------------------- */
#raw-src {
  display: block;
  margin:auto;
  margin-top: 2em;
  margin-bottom: 1em;

  font-size: 1.25em;
  font-family: "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
}

#tab-config .tab-body {
  padding: 0;
  height: 90%;
}

#ctable {
  height: 100%;
  width: 100%;
  border-spacing: 15px;
}

#ctable td {
  border: 1px solid #fff;
  width: 50%;
  height: 33.33%;
}

#ctable td > div {
  height: 100%;
  width: 100%;
}

#ctable header {
  position: relative;
  top: -0.5em;
  background-color: #e0e0e0;
  padding-left: .75em;
  padding-right: .75em;
  left: 1em;
  width: auto;
  display: inline-block;
}

.inner-table {
  width: 100%;
  height: 100%;
  margin-top: -0.5em;
  border-spacing: 10px;
  text-align: center;
}
#ctable .inner-table td {
  border: none;
}

