html {
  font-size: 18pt;
  font-family: Arial, Helvetica Neue;
}

a, a:link, a:visited, a:hover, a:active {
  text-transform: none;
  text-decoration: none;
  color: #0275d8;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
  text-transform: uppercase;
}

table sub {
  text-transform: none;
}

table, th, td {
  text-align: center;
}

th {
  padding-left: 10px;
  padding-right: 10px;
}
td {
  padding: 10px;
}

td, th {
  width: 80px;
}

thead tr {
  background-color: #cbcbcb;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.tech {
  font-family: "Courier New", Courier, monospace;
}


#sourcecode tr.current {
  background-color: #ffec5e;
}

#sourcecode tr td:nth-child(2),
#sourcecode tr th:nth-child(2) {
  width: 180px;
}

.new-val {
  color: mediumvioletred;
  font-weight: bold;
}


.tick, .busy {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><path d="M990,190.6l-65.5-63.2L335.2,743.9L73.2,493.2L10,561l327.4,311.6l63.2-67.7l0,0L990,190.6z"/></g></svg>');
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: center;
}


/* -------------------------------------------------------------------------- */
#menu {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  background-color: rgba(0,0,0,0.7);
}


#menu-body {
  display: inline-block;
  margin: auto;
  margin-top: 40px;

  background-color: #efefef;
  padding: 20px;
}

#menu-body header {
  width: 100%;
  background-color: #cbcbcb;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#opts, #examples {width: 100%;}
#opts > * {display: inline-block;margin: auto; padding: 5px 10px;}
#opts input {vertical-align: middle;}
#examples {padding: 5px 10px;}

#examples {
  text-align: left;
}

#raw-src{
  display: block;
  margin: auto;

  width: 100%;
  max-width: 300px;
  min-height: 300px;
  height: 60vh;

  font-size: 18pt;
  text-transform: uppercase;
}

.hide {display: none !important}
